@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

$font-stack: 'Inter', sans-serif;
$primary-color: #333;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $font-stack;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

#result {
    line-height: 50;
    letter-spacing: 10px;
}
